html {
  background-image: url("https://images6.alphacoders.com/909/thumb-1920-909641.png");
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: hue-rotate(90deg);
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s alternate ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translate(-25vw,-25vh) rotateX(0deg) rotateY(0deg) rotate(0deg) scale(1);
    filter: hue-rotate(0deg);
  }
  to {
    transform: translate(25vw,25vh) rotateX(360deg) rotateY(360deg) rotate(360deg) scale(1.5);
    filter: hue-rotate(180deg);
  }
}



.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

.country-card-container {
  height: 60px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.country-name {
  font-size: 0.9rem;
}

.country-region {
  font-size: 0.7rem;
}

.current-page,
.country-name,
.country-region {
  line-height: 1;
}

   ul.pagination {
     margin-top: 0;
     margin-bottom: 0;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}


li.page-item.active.a.page-link {
  border-color: #ced4da !important;
}
a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  font-weight: 900;
  font-size: 1rem;
}